* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Sign\ Up.png);
    background-size: cover;
    background-position: center;
}
.large {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.small {
    /* height: 1200px; */
    /* width: 400px; */
    border-radius: 10px;
    text-align: center;
    justify-content: center;

    backdrop-filter :blur(15px);
    /* box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25); */
}

.small input,
.input-group-text {
    margin: auto;
    width: 300px;
}

.form-check-input {
    margin-right: 100px;
}

h1 {
    margin: 20px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#FFA500);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#FFA500);
    border-radius: 20px;
}